services:
  grafana:
    image: grafana/grafana-oss:alpine
    container_name: grafana_ca2e
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3002:3000"

